{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "extensions": [".ts"],
        "alias": {
          "*": ".",
          "@root": "./",
          "@api": "./imports/api",
          "@middlewares": "./imports/middlewares",
          "@server": "./imports/startup/server"
        }
      }
    ]
  ]
}
