node_modules/
.idea
.cache
.DS_STORE
.uploads
.binnacle
settings/settings-development.json
settings/firebase-service-account.json
# for mongodb database in cloud env
data/

# Meteor Modern-Tools build context directories
_build
*/build-assets
*/build-chunks
.rsdoctor
